---
interface Props {
	title: string;
}
const { title } = Astro.props;
---
<!doctype html>
<html lang="id" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/logo-removebg-preview.png" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
		<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600;800&display=swap" rel="stylesheet">
		<title>{title}</title>
	</head>
	<body class="bg-[#f8f9f7] text-[#1a1c19] font-['Plus_Jakarta_Sans'] antialiased relative overflow-x-hidden">
    <div class="fixed inset-0 z-[-1] pointer-events-none overflow-hidden">
        <div class="absolute top-[15%] left-[-15%] w-[80%] h-[60%] sm:w-[50%] sm:h-[50%] bg-matcha/15 sm:bg-matcha/10 blur-[80px] sm:blur-[120px] rounded-full animate-pulse"></div>
        <div class="absolute bottom-[5%] right-[-15%] w-[70%] h-[50%] sm:w-[40%] sm:h-[40%] bg-dark-green/10 sm:bg-dark-green/5 blur-[80px] sm:blur-[100px] rounded-full"></div>
    </div>
    <slot />
	
</body>
</html>

